html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
    
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
   
}
/** Globales **/

img {
    max-width: 100%;
}
.contenedor {
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

h1 {
    font-size: 3.8rem;   
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 2.8rem;
}

.fw-300 {
    font-weight: 300;
}
.centrar-text {
    text-align: center;
}

.d-block {
    display: block!important;
}

/** botones **/

.boton {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    display: inline-block;
    margin-top: 3rem;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    
    
}




.boton-amarillo {
    background-color: #e08709;

}

.boton-verde {
    background-color: #71b100;

}


.seccion-nosotros {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.5rem;
    
     
    
}
.seccion-nosotros h2 {

    font-weight: 300;

}


/*Header*/
.site-header.inicio {
    background-image: url('../img/header.jpg');
    background-position: center center;
    background-size: cover;
    height:100vh;
    min-height: 600px;

}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contenido-header h1 {
    color:white; 
    padding-bottom: 2rem;
    font-size: 4rem;
    max-width: 60rem;
    line-height: 1.2;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}
.navegacion a:hover {
    color: #71B100;
}
.navegacion a:last-of-type {
    margin-right: 0;
}

/* Iconos Nosotros */
.iconos-nosotros {
    
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    margin-bottom: 4rem;
    
    
}

.iconos-nosotros div {
    font-size: large;
    font-weight: 500;
    
}

.icono{

    flex-basis: calc(33.3% - 1rem);

}

.iconos-nosotros h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
}

/** anuncios **/

.contenedor-anuncios {

    display: flex;
    justify-content: space-between;
    
}

.anuncio {
    flex-basis: calc(33.3% - 1rem);
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
}

.contenido-anuncio {
    padding: 2rem;
}

.contenido-anuncio h3 {
    margin: 0;

}

.contenido-anuncio p {
    margin: 0;
    font-size: 1.5rem;
}

.precio {
    color: #71b100;
    font-weight: 700;
}

.iconos-caracteristicas {
    list-style: none;
    padding: 0;
    display: flex;
    
    
    

}
.iconos-caracteristicas li {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    
    
    
}
.ver-todas {
    display: flex;
    justify-content: flex-end;
    
}

/** contacto home**/

.imagen-contacto {
    background-image: url('../img/encuentra.jpg');
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
    
}

.contenido-contacto {
    flex: 1;
    color: #ffffff;
}
.contenido-contacto h2 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
.contenido-contacto p {
    font-size: 2rem;
    margin-bottom: 2rem;
}
/**etiqueta seccion**/
.seccion-inferior {
    display: flex;
    justify-content: space-between;
}

.seccion-inferior .blog {

    flex-basis: 60%;
    font-size: 2rem;
}

.seccion-inferior .testimoniales {

    flex-basis: calc(40% - 2rem);
    font-size: 1.4rem;

}

.entrada-blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    
    
}

.entrada-blog:last-of-type {
    margin-bottom: 0;
}

.entrada-blog .imagen {
    flex-basis: 40%;
    
}

.entrada-blog .texto-entrada {
    flex-basis: calc(60% - 3rem);
    
    
}


    
    


.texto-entrada h4 {
    margin: 0;
    line-height: 1.4;
    font-size: 2.4rem;
    
    
}

.texto-entrada h4::after {
    content: '';
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71b100;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.texto-entrada em {
    font-weight: normal;
    color: #e08709;
}   

.texto-entrada p {
    margin: 2rem;
    font-size: 1.4rem;
    
}

.texto-entrada a {

    text-decoration: none;
    color: #000000;
}
/**Testimoniales**/

.testimonial {
    background-color: #71B100;
    font-size: 2.4rem;
    padding: 2rem;
    color: #ffffff;
    border-radius: 2rem;
}

.testimonial p {
    
    text-align: right;
}

.testimonial blockquote::before {
    content: '';
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: -2rem


}
.testimonial blockquote {
    position: relative;
    padding-left: 5rem;
    font-weight: 300;
}
/** Footer **/
.site-footer {
    background-color: #333333;
    margin: 0;
}

.contenedor-footer {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
   
}

.copyright {
    margin: 0;
    color: #ffffff;
    font-size: 1.4rem;
    
}