html {
    font-size: 62.5%; /* 1rem = 10px */
}
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
   
}
/** Globales **/
.contenedor {
    max-width: 1200px;
    margin: 0 auto 0 auto;
}

.seccion-nosotros {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    font-size: 2.5rem;
    color: gray;
    
    
}


/*Header*/
.site-header.inicio {
    background-image: url('../img/header.jpg');
    background-position: center center;
    background-size: cover;
    height:100vh;
    min-height: 600px;

}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contenido-header h1 {
    color:white; 
    padding-bottom: 2rem;
    font-size: 4rem;
    max-width: 60rem;
    line-height: 1.2;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}
.navegacion a:hover {
    color: #71B100;
}
.navegacion a:last-of-type {
    margin-right: 0;
}

/* Iconos Nosotros */
.iconos-nosotros {
    
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
    margin-bottom: 4rem;
    
    
}

.iconos-nosotros div {
    font-size: large;
    color: black;
}

.icono{

    flex-basis: calc(33.3% - 1rem);

}

.iconos-nosotros h3 {
    font-size: 2.5rem;
}